<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.connect"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <!--
         Version name, version code, minSdkVersion and targetSdkVersion are set on the build.gradle
         file. The settings there override those here, anyway
    -->

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- Recommended for Maps -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:name=".TemplateApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_connect_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <!-- Crashlytics Key -->
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="9e162beecdd4027a8085358235d9e3dbca692f04"/>
    </application>

</manifest>
